html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    background-color: #1F2937;
    width: 100vw;
}

.header {
    max-width: 1280px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin: 0 auto;
    width: 100%;
}

.header span {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-background {
    background-color: #1F2937;
    width: 100vw;
}

.hero-section {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 16px;
    display: flex;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #F9FAF8;
}

.placeholder {
    width: 100%;
    height: 400px;
    background-color: #374151;
    border-radius: 8px;
}

.hero button {
    flex-grow: 0;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

